<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- to refresh page in every 15 seconds -->
    <meta http-equiv="refresh" content="15" />  


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <title>TechStax Assignment</title>
  </head>
  <body>
    

    <div class="container">
        <div class="row">
            {% if page_role != None %}
                <center> <h1> {{page_role}} </h1> </center>
            {% endif %}
           <center>
            <div class="col-6">
                <div class="list">
                    <ul class="list-group">

                        {% for i in retrieve %}
                            {% if i.action == 'Push' %}
                                <li class="list-group-item"> "{{ i.author }}" pushed to {{ i.to_branch }} on {{ i.timestamp }} </li>
                            {% elif i.action == 'Merge' %}
                                <li class="list-group-item"> "{{ i.author }}" merged branch from {{ i.from_branch }} to {{ i.to_branch }} on {{ i.timestamp }} </li>
                            {% else %}
                                <li class="list-group-item"> "{{ i.author }}" submitted a pull request from {{ i.from_branch }} to {{ i.to_branch }} on {{ i.timestamp }} </li>
                            {% endif %}
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>

           </center>



        </div>

    </div>
    <center>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
              {% if page_role == None %}
                {% for i in range(pagination) %}
                <li class="page-item"><a class="page-link" href="{{'/{}/{}'.format(limit,limit*i)}}" > {{ i + 1 }} </a></li>
                {% endfor %}
              {% elif page_role == 'Admin' %}
                {% for i in range(pagination) %}
                <li class="page-item"><a class="page-link" href="{{'/admin/{}/{}'.format(limit,limit*i)}}" > {{ i + 1 }} </a></li>
                {% endfor %}
                {% else %}
                {% for i in range(pagination) %}
                <li class="page-item"><a class="page-link" href="{{'/super_admin/{}/{}'.format(limit,limit*i)}}" > {{ i + 1 }} </a></li>
                {% endfor %}
              {% endif %}
              
              
              <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a></li>
            </ul>
          </nav>
    </center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
